{% extends "inicio/encabezado.html" %}

{% block titulo%} contacto {%endblock%}

{%block imagen%}
    {%load static%}
    {%static 'inicio/images/contacto.png'%}
{% endblock%}
{%block descripcion%}
	Contacto <span>DSM</span>
{% endblock%}

{% block contenido%}
<div class="contenedor">
        <h2>Contacto</h2>
        <form>
            <label class="form-label">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre completo"><hr>

            <label class="form-label">Correo:</label>
            <input type="email" name="correo" placeholder="correo@ut.com"><hr>

            <label class="form-label">Curso de Interés:</label>
            <select name="cursos" class="form-select">
                <option>Base de Datos</option>
                <option>Programación</option>
            </select> <hr>

            <label class="form-label">Comentario:</label><br>
            <textarea class="form-control" id="comment" name="text"></textarea><br>

            <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
    </div>
{%endblock%}