{% extends "inicio/encabezado.html" %}

{% block titulo%} principal {%endblock%}

{%block imagen%}
    {%load static%}
    {%static 'inicio/images/homes.png'%}
{% endblock%}
{%block descripcion%}
	Principal <span>DSM</span>
{% endblock%}

{% block contenido%}

<div class="contenedor">
    <h1>Bienvenido a mi página Django</h1>
	<p>Explora los cursos.</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Tiempo del curso</th>
                <th>Nodalidad</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td class="text-center">
                        <img src="{{curso.imagen.url}}" alt="" class="img-media" width="100" height="100">
                    </td>
                    <td class="text-semibold">{{curso.nombre}}</td>
                    <td class="muted">{{curso.descripcion}}</td>
                    <td class="muted">{{curso.duracion}}</td>
                    <td class="muted">{{curso.costo}}</td>
                    <td class="muted">{{curso.modalidad}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="la.jpg" alt="Los Angeles" class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="chicago.jpg" alt="Chicago" class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="ny.jpg" alt="New York" class="d-block" style="width:100%">
        </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid mt-3">
  <h3>Carousel Example</h3>
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>
</div>

{%endblock%}